{% comment %} <div>
  <div>
    <img src="{{ section.settings.mainimgs| img_url: 'master' }}">
  </div>
</div> {% endcomment %}
<div class="featured-products waypoint-active">
<div class="grid-container">
      <div class="grid">
        <div class="col classic">
          <a class="with-link-primary" href="/collections/engagement-rings/classic">
            <div class="background-container">
              <div class="image-container image-ready" style="{{ section.settings.mainimgs| img_url: 'master' }}"></div>
            </div>

            <span class="link-primary animate-out">The Classic</span>
          </a>
        </div>

        <div class="col pave">
          <a class="with-link-primary" href="/collections/engagement-rings/pave">
            <div class="background-container">
              <div class="image-container image-ready" style="{{ section.settings.mainimgs| img_url: 'master' }}"></div>
            </div>

            <span class="link-primary animate-out">The Pavé</span>
          </a>
        </div>

        <div class="col halo">
          <a class="with-link-primary" href="/collections/engagement-rings/halo">
            <div class="background-container">
              <div class="image-container image-ready" style="{{ section.settings.mainimgs| img_url: 'master' }}"></div>
            </div>

            <span class="link-primary animate-out">The Halo</span>
          </a>
        </div>

        <div class="col channel">
          <a class="with-link-primary" href="/collections/engagement-rings/channel">
            <div class="background-container">
              <div class="image-container image-ready" style="{{ section.settings.mainimgs| img_url: 'master' }}"></div>
            </div>

            <span class="link-primary animate-out">The Channel</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
      "type": "image_picker",
    "id": "mainimgs",
    "label": "Image"
  }
    ],
        "presets": [
  {
   "name": "collection box"
  }
]
  }
{% endschema %}

{% stylesheet %}
  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
 .col .image-container:before {
    padding-top: 116%;
}
.col .image-container:before {
    content: "";
    display: block;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}