<div class="shapes" style="background-color: {{ section.settings.bgcolor }};">
  <div class="Containers block4">
    <h2>{{ section.settings.headingmain }}</h2>
    <h3>{{section.settings.subheading }}</h3>
    <div class="maindivv">
      {% for block in section.blocks %}
        <div class="block-1">
          <div
            class="image-box "
            style=" background-image: linear-gradient(to bottom,transparent 0%,transparent 2vw,{{block.settings.colors1}} 0vw,{{block.settings.colors1}} 100%);"
          >
            <div class="blockimg">
              <img src="{{ block.settings.imageurl |img_url: '800x'}}">
            </div>
          </div>
          <h5>{{ block.settings.subheading }}</h5>
          <h4>{{ block.settings.heading }}</h4>
          <p>{{ block.settings.content1 }}</p>
          <a class="book-concierge with-link-primary" href="#">
            <div class="background-container">
              <div class="image-container image-ready"></div>
            </div>
            <a class="link-primary animate-out" href="{{ block.settings.url-link }}">
              {{- block.settings['url-text'] -}}
            </a>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Diamond Shapes",
  "settings": [
    {
    "type": "text",
    "id": "headingmain",
    "label": "Heading"
  },
    {
    "type": "text",
    "id": "subheading",
    "label": "Sub heading"
  },
    {
    "type": "url",
    "id": "buttonlink",
    "label": "Button link"
  },
    {
    "type": "text",
    "id": "buttontexts",
    "label": "text"
  },
    {
        "type": "color",
         "id": "bgcolor",
        "label": "background color"
     }
  ],
    "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
       {
    "type": "image_picker",
    "id": "imageurl",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  },
       {
                  "type": "color",
                  "id": "colors1",
                  "label": "Active Dot Color"
                },
    {
    "type": "text",
    "id": "subheading",
    "label": "Sub-heading",
    "default": "Sub-heading"
  },
    {
    "type": "text",
    "id": "heading",
    "label": "heading",
    "default": "heading"
  },
    {
    "type": "richtext",
    "id": "content1",
    "label": "Text",
    "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
  },
    {
    "type": "url",
    "id": "url-link",
    "label": "Link URL"
  },
    {
    "type": "text",
    "id": "url-text",
    "label": "Link text"
  }
    ]
  }
],


  "presets": [
  {
   "name": "Diamond Shapes"
  }
]
}
{% endschema %}

{% stylesheet %}
  .Containers.block4 {
    text-align: center;
}
  .block4 h2 {
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
    font-size: 25px;
}
  .block4 h3 {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
/*     font-family: Brown; */
    margin: 0 0 24px;
    letter-spacing: .12em;
        color: #122947cc;
}
   .shapes .button a:hover{
      background-color: #283953;
      color: #fff;
      transform: translateY(-1px);
  }
    .shapes .button {
        text-align: center;
        margin-top: 6%;
    }
  .shapes {
    padding: 5% 0;
}
     .shapes .button a{
        display: inline-block;
        height: 56px;
        min-width: 160px;
        border: 1px solid rgba(18,41,71,.12);
        border-radius: 2px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        padding: 0 24px;
        color: #122947;
        line-height: 54px;
        text-transform: uppercase;
        letter-spacing: .12em;
        white-space: nowrap;
        transition: background-color .2s Cubic-bezier(1,0,.43,1),color .2s Cubic-bezier(1,0,.43,1),transform .2s Cubic-bezier(.3,0,.3,1);
      }
        .shapes .image-box .blockimg img {
    min-height: 101px;
    width: 200px;
}
         .shapes .maindivv{
                display: flex;
            justify-content: space-around;
          }
       .shapes .maindivv {
            width: 100%;
        }
           .shapes .block4 .block-1 {
              width: 21%;
             text-align: center;
          }
         .shapes.Containers.block4{
            max-width:1550px;
                margin: auto;
          }

         .shapes .block-1 h5{
              color: #ef525b;
              font-size: 12px;
              line-height: 24px;
              text-transform: uppercase;
              font-family: Brown;
                 margin: 24px 0 15px;
              letter-spacing: .12em;
          }
        
         .shapes .block-1 h4 {
              font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
              font-weight: 400;
              line-height: 0;
              color: #122947;
              margin: 0 0 0px;
              font-size: 25px;
               
          }
           .shapes .block-1 p {
                    color: #122947cc;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 0 34px;
              font-weight: 100;
             
          }
  
          .shapes  a.link-primary.animate-out {
              position: relative;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 12px;
              border-bottom: 2px solid rgba(18,41,71,.12);
              color: #122947;
              display: inline-block;
              height: 24px;
              line-height: 22px;
              letter-spacing: .12em;
          }


      @media(max-width:768px){
       .shapes .maindivv {
    display: block;
}
       .shapes .block4 .block-1 {
    width: 100%;
}
       .shapes .block4 .block-1 {
    width: 100%;
    margin-top: 9%;
}


      }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
