<section class="full-screen Section {% unless section.settings.image %}Section--spacingNormal{% endunless %}" style=" background-color: {{ section.settings.bgcolor }};">
  {%- capture section_content -%}
    <div class="FeatureText__ContentWrapper">
      <div class="FeatureText__Content">
        {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank -%}
          <header class="SectionHeader">
            {%- if section.settings.subheading != blank -%}
              <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              <div class="SectionHeader__Description Rte">
                {{ section.settings.content }}
              </div>
            {%- endif -%}
             {%- if section.settings.signature != blank -%}
              <div class="signatureimg">
                 <img src="{{ section.settings.signature | img_url: '800x' }}">
                <h3>{{ section.settings.signaturetext }}</h3>
              </div>
            {%- endif -%}

            
            {%- if section.settings.link_text != blank -%}
              <a href="{{ section.settings.link_url }}" class="signaturebtn">{{ section.settings.link_text | escape }}</a>
              <a href="{{ section.settings.link_url2 }}" class="CHAtUS">{{ section.settings.link_text2 | escape }}</a>
              
            {%- endif -%}
          </header>
        {%- endif -%}
      </div>
    </div>
  {%- endcapture -%}

  {%- capture section_image -%}
    {%- if section.settings.image != blank -%}
      <div class="FeatureText__ImageWrapper">
        {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}

        <div class="AspectRatio" style="max-width: {{ section.settings.image.width }}px; --aspect-ratio: {{ section.settings.image.aspect_ratio }}">
          {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="Image--lazyLoad Image--slide{{ section.settings.image_position | capitalize }}" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">

          <noscript>
            <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
          </noscript>
        </div>
      </div>
    {%- endif -%}
  {%- endcapture -%}

  <div class="FeatureText {% if section.settings.image != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
    {%- if section.settings.image_position == 'left' -%}
      {{- section_image -}}
      {{- section_content -}}
    {%- else -%}
      {{- section_content -}}
      {{- section_image -}}
    {%- endif -%}
  </div>
</section>


<style>
.signatureimg {
    margin-top: 30px;
}
  .signatureimg h3 {
    margin: 5% 0;
}
  
.signaturebtn{
 display: inline-block;
    height: 56px;
    min-width: 160px;
    border: 1px solid rgba(18,41,71,.12);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    padding: 0 24px;
    color: #122947;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: .12em;
    white-space: nowrap;
    transition: background-color .2s Cubic-bezier(1,0,.43,1),color .2s Cubic-bezier(1,0,.43,1),transform .2s Cubic-bezier(.3,0,.3,1);
    background-color: #122947;
    color: #fff;
}
a.CHAtUS {
    margin-left: 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 2px solid rgba(18,41,71,.12);
    color: #122947;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    letter-spacing: .12em;
}
a.CHAtUS:hover {
    border-color: #122947;
    transition: transform .4s Cubic-bezier(.3,0,.3,1);
/*  transform-origin: 100% 0;
    transform: scaleX(0); */
}

  .full-screen img.Image--slideRight.lazyautosizes.Image--lazyLoaded {
    margin-top: 0;
}
  .AspectRatio {
    max-height: 100vh;
    margin: auto;
}
  
</style>

{% schema %}
{
  "name": "full screen text - image",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background color"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
     {
      "type": "image_picker",
      "id": "signature",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "signaturetext",
      "label": "text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text2",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url2",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "full screen text-image",
      "settings": {}
    }
  ]
}
{% endschema %}