<div class="module-plp classic" style="background-color: {{ section.settings.bgcolore }};">
<div class="hero waypoint-active" data-waypoint="once"  >
    <div class="image-container raise image-ready" style="background-image: url({{ section.settings.heroimg | img_url: 'master' }});">   
    </div>
    <div class="grid">
      <div class="left-column">
        <h5 class="fade">{{ section.settings.subhading }}</h5>
        <h2 class="fade">{{ section.settings.hading }}</h2>
        <p class="body-large fade">{{ section.settings.textp }}</p>
        <div>
            {%- if section.settings.buttontext != blank -%}
        <a class="button button-hero" href="{{ section.settings.butonurl }}"><span>{{ section.settings.buttontext }}</span></a>
              {%- endif -%}
          </div>
      </div>
      <div class="right-column"></div>
    </div>

    <div class="design">
      <div class="centered">
        <h5 class="raise">{{ section.settings.Design }}</h5>
        <h3 class="raise">
          {{ section.settings.textarey }}
        </h3>
      </div>
    </div>
  </div>
</div>
{% stylesheet %}
.hero {
    padding: 0 24px;
    position: relative;
    height: 200vh;
    min-height: 716px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -24px;
    margin-right: -24px;
    padding-right: 24px;
}
.hero .grid {
    position: relative;
    z-index: 2;
    height: 100%;
}
.module-plp .hero .grid, .module-plp .hero .design {
    height: 50%;
}
.hero .grid .left-column {
    position: relative;
    margin-bottom: 0;
    padding: 120px 0;
    align-self: center;
      margin-left: calc(8.33333% + 24px);
}
  .hero .grid .right-column {
    position: relative;
    margin-bottom: 0;
}
  .grid>* {
    flex: 1 1 0%;
    box-sizing: border-box;
    margin-left: 24px;
    margin-bottom: 24px;
}
 h5.fade {
    color: #ef525b;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Brown;
    margin: 0 0 24px;
    letter-spacing: .12em;
}
  h2.fade {
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
    font-size: 39px;
}
  p.body-large.fade {
    font-size: 16px;
    line-height: 1.75;
    color: #122947cc;
    opacity: 1;
    font-size: 22px;
}
  .button-hero {
    position: relative;
    background-color: transparent;
    border: none;
    transform: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px #00000014;
    color: #122947;
}
  .button {
    display: inline-block;
    height: 56px;
    min-width: 160px;
    border: 1px solid rgba(18,41,71,.12);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    padding: 0 24px;
    color: #122947;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: .12em;
    white-space: nowrap;
    transition: background-color .2s Cubic-bezier(1,0,.43,1),color .2s Cubic-bezier(1,0,.43,1),transform .2s Cubic-bezier(.3,0,.3,1);
}
  .hero .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  .module-plp .hero .image-container {
    background-position: 50% 100%;
    height: 100%!important;
}
  
.module-plp .hero .design {
    padding: 120px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 -24px;
}
.module-plp .hero .design .centered {
    width: calc((100% - 24px)*.66667 - 24px);
    margin: 0 auto;
}

h5.raise {
    color: #ef525b;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Brown;
    margin: 0 0 24px;
    letter-spacing: .12em;
}
h3.raise {
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
    font-size: 34px;
}
  .module-plp .hero .design .centered {
     width: 61%;
    margin: 0 auto;
}
  .button:hover {
    background-color: #283953;
    color: #fff;
    transform: translateY(-1px);
}
  .button-hero:hover {
    box-shadow: 0 2px 24px #0000000a;
}


  
{% endstylesheet %}

{% schema %}
  {
    "name": "Hero section",
    "settings": [
      {
      "type": "color",
      "id": "bgcolore",
      "label": "background color"
    },
      {
      "id" : "heroimg",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "subhading",
      "type" : "text",
      "label" : "sub heading"
    },

      {
      "id" : "hading",
      "type" : "text",
      "label" : "heading"
    },

      {
      "id" : "textp",
      "type" : "text",
      "label" : "text"
    },
       {
      "id" : "buttontext",
      "type" : "text",
      "label" : "text"
    },
      {
      "id" : "butonurl",
      "type" : "url",
      "label" : "text"
    },
     {
      "id" : "Design",
      "type" : "text",
      "label" : "heading"
    },
     {
      "id" : "textarey",
      "type" : "text",
      "label" : "text"
    }
      
    ],
     "presets" : [
    {
      "name" : "Hero section"
    }
  ]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}