<div class="Main-Image-with-texts" id="{{ section.id }}">
  <div class="main-position-section">
    <div class="flex-overlay-section {% if section.settings.option-select == '1' %}Flex-direction-change{% endif %}">
      <div class="selctcombo">
        {% if section.settings.image != blank %}
          <div class="image-section-over width-over-combo">
            <img src="{{ section.settings.image | img_url: 'master' }}">
          </div>
        {% endif %}
      </div>
      <div class="text-over-section width-over-combo1">
        <div class="imagesdiv">
          <img src="{{ section.settings.imagesmain | img_url: 'master'  }}">
        </div>
        <div class="headingdiv">
          <h2 class="heading">{{ section.settings.heading }}</h2>
          <p class="text">{{ section.settings.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text Select",
  "settings": [
    {
      "id" : "image",
      "type" : "image_picker",
      "label" : "Image"
    },
    {
      "id" : "imagesmain",
      "type" : "image_picker",
      "label" : "Image"
    },
    {
      "id" : "heading",
      "type" : "text",
      "label" : "Heading"
    },
    {
      "id" : "text",
      "type" : "textarea",
      "label" : "Text"
    },
    {
    "type": "select",
    "id": "option-select",
    "default": "2",
    "options": [
     {
        "value": "1",
        "label": "Right"
     },
     {
        "value": "2",
        "label": "Left"
      }
    ],
    "label": "Image Position"
  },
    {
      "id" : "bg-image",
      "type" : "image_picker",
      "label" : "Background Image"
    },
    {
      "id" : "bg-color",
      "type" : "color",
      "label" : "Background Color",
      "default" : "#fff"
    },
    {
      "id" : "text-color",
      "type" : "color",
      "label" : "Text Color",
      "default" : "#000"
    }
  ],
  "presets" : [
    {
      "name" : "Image With Text Select "
    }
  ]
}
{% endschema %}

<style>
    .imagesdiv {
      flex-basis: calc(25% - 24px);
    max-width: calc(25% - 24px);
    margin-right: 8%;
    margin-left: 24px;
  }
        .selctcombo {
          width: 40%;
          background-image: linear-gradient(to bottom,transparent 0%,transparent 20%,#dde9ed 20%,#dde9ed 100%);
    }

        p.text {
            margin-bottom: 60px;
        }

          #{{section.id}} {
            background-size: cover;
            background-repeat: no-repeat;
            {% if section.settings.bg-image != blank %}
              background-image: url({{section.settings.bg-image | img_url:'master'}});
              {% else %}
            background-color: {{section.settings.bg-color}};
              {% endif %}
          }

          .flex-overlay-section{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
          }
          .flex-overlay-section.Flex-direction-change{
            flex-direction: row-reverse;
          }
          .width-over-combo {
            width: 100%;
        }
             .width-over-combo1 {
            width: 60%;
                    display: flex;
        }
          .image-section-over img {
            width: 100%;
        }
          .text-over-section {
            padding: 0 8%;
        }
          #{{section.id}} .text-over-section h2.heading {
               font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
                font-size: 39px;
        }
          #{{section.id}} .text-over-section p.text {
                line-height: 1.75;
    color: #122947cc;
    font-size: 18px;
        }
          #{{section.id}} .text-over-section p.text.text-cls {
            font-weight: 400;
        }
          #{{section.id}} .button-overlay {
            background: {{section.settings.btn-bg-color}};

        /*     width: 100%;
            max-width: 370px;
            padding: 5px 20px;
            text-align: center; */
        }
          #{{section.id}} .button-overlay a {
            font-family: 'TT Norms Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 27px;
            text-align: center;
            color: {{section.settings.btn-text-color}};;
                border: 1px solid black;
            padding: 15px 20px;
        }

          @media(max-width:768px){
            .width-over-combo {
            width: 100%;
        }
            .text-over-section {
            padding: 0;
              margin-top: 10%;
        }
             #{{section.id}} .text-over-section h2.heading {
            font-size: 25px;
            line-height: 32px;
        }
           #{{section.id}} .text-over-section p.text {
            font-size: 18px;
            line-height: 24px;
        }
            .main-position-section {
            padding: 10% 5%;
        }
          }
</style>
