<div class="maindiv">
  <div class="insta">
    <div class="divinsta">
    <div class="imginsta">
      <img src="{{ section.settings.instaimg | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg1 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg2 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg3 | img_url: 'master'}}">
    </div>
    </div>
  </div>
  <div class="insta1">

<div class="instatext">
        <h5>{{ section.settings.subtitel }}</h5>
        <h2>{{ section.settings.heading }}.</h2>
        <a class="button button-default" href="{{ section.settings.alink }}" target="_blank">{{ section.settings.atext }}</a>
      </div>
    
  </div>
  <div class=" insta">
    <div class="divinsta">
    <div class="imginsta">
      <img src="{{ section.settings.instaimg | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg1 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg2 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg3 | img_url: 'master'}}">
    </div>
  </div>
</div>
{% stylesheet %}
.maindiv {
    display: flex;
}
.insta1 {
    width: 33.33%;
}
  .insta {
    width: 33.33%;
        display: flex;
}
.divinsta {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
  .imginsta {
    max-width: 50%;
}
{% endstylesheet %}
{% schema %}
  {
    "name": "instagram",
    "settings": [
       {
      "id" : "instaimg",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg1",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg2",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg3",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "subtitel",
      "type" : "text",
      "label" : "sub text"
    },
      {
      "id" : "heading",
      "type" : "text",
      "label" : "Heading"
    },
      {
      "id" : "alink",
      "type" : "url",
      "label" : "button link"
    },
      {
      "id" : "atext",
      "type" : "text",
      "label" : "button text"
    }      
    ],
    "presets" : [
    {
      "name" : "instagram_section"
    }
  ]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}