<div class="maindiv">
  <div class="insta">
    <div class="imginsta">
      <img src="{{ section.settings.instaimg | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg1 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg2 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg3 | img_url: 'master'}}">
    </div>
  </div>
  <div class="insta1">


    
  </div>
  <div class=" insta">
    <div class="imginsta">
      <img src="{{ section.settings.instaimg | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg1 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg2 | img_url: 'master'}}">
    </div>
    <div class="imginsta">
      <img src="{{ section.settings.instaimg3 | img_url: 'master'}}">
    </div>
  </div>
</div>
{% stylesheet %}
.maindiv {
    display: flex;
}
.insta1 {
    width: 33.33%;
}
  .insta {
    width: 33.33%;
        display: flex;
}
{% endstylesheet %}
{% schema %}
  {
    "name": "instagram",
    "settings": [
       {
      "id" : "instaimg",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg1",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg2",
      "type" : "image_picker",
      "label" : "Image"
    },
      {
      "id" : "instaimg3",
      "type" : "image_picker",
      "label" : "Image"
    }
    ],
    "presets" : [
    {
      "name" : "instagram_section"
    }
  ]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}