<div>
  <div class="step-1">
    <div class="image-box">
      <div>
        <img src="{{ section.settings.imageurl |img_url: '800x'}}">
      </div>
    </div>
    <h5>{{ section.settings.subheading }}</h5>
    <h4>{{ section.settings.heading }}</h4>
    <p>{{ section.settings.content1 }}</p>
    <a class="book-concierge with-link-primary" href="#">
      <div class="background-container">
        <div class="image-container image-ready"></div>
      </div>
      <a class="link-primary animate-out" href="{{ section.settings.url-link }}">{{ section.settings.url-text }}</a>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "new blog",
    "settings": [
      {
      "type": "image_picker",
      "id": "imageurl",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
      {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
      {
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "heading"
    },
      {
      "type": "richtext",
      "id": "content1",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
      {
      "type": "url",
      "id": "url-link",
      "label": "Link URL"
    },
      {
      "type": "text",
      "id": "url-text",
      "label": "Link text"
    }
    ],
    "presets": [
    {
     "name": "new blog"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
  .step-1 {
    width: 33.33%;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}