<div class="component-newsletter-signup">
  <div class="grid">
    <div class="left-column">
      <h3>Sign up for our newsletter.</h3>
      <p>Stay in the know on new releases, special offers, and more.</p>
    </div>

    <div class="right-column">
      <div class="ImageHero__ContentOverlay">
        <header class="SectionHeader SectionHeader--center">
          {%- if section.settings.subheading != blank -%}
            <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
            <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.content != blank -%}
            <div class="SectionHeader__Description">
              {{ section.settings.content }}
            </div>
          {%- endif -%}
        </header>

        {%- assign newsletter_id = 'footer-' | append: section.id -%}

        {%- form 'customer', id: newsletter_id, class: 'Newsletter Form' -%}
          {%- if form.posted_successfully? -%}
            <p class="Form__Alert Alert Alert--success">{{ 'home_page.newsletter.success' | t }}</p>
          {%- else -%}
            {%- if form.errors -%}
              <p class="Form__Alert Alert Alert--error">{{ form.errors.messages.email }}</p>
            {%- endif -%}
            <div class="proposer-toggle">
              <label><input type="radio" name="customer_type" value="Proposer" checked=""><span>Proposer</span></label>
              <label><input type="radio" name="customer_type" value="Proposee"><span>Proposee</span></label>
            </div>
            <div class="Newsletter__Inner">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input
                type="email"
                name="contact[email]"
                class="Form__Input"
                aria-label="{{ 'home_page.newsletter.input' | t }}"
                placeholder="{{ 'home_page.newsletter.input' | t }}"
                required
              >
              <button type="submit" class="Form__Submit Button Button--primary">
                {{ 'home_page.newsletter.submit' | t }}
              </button>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter-new",
  "settings": [

  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "Newsletter-new",
      "settings": {}
    }
  ]
}
{% endschema %}
<style>
            .component-newsletter-signup {
              background-color: #122947;
              padding: 120px 24px;
          }
              .left-column h3 {
                font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
                font-weight: 400;
                line-height: 1.3;
                color: #fff;
                margin: 0 0 24px;
                font-size: 30px;
            }
              .left-column p{
                    color: #fff;
                    font-family: "Brown",Sans-Serif;
                    line-height: 1.75;
                    font-size: 17px;
              }
                .grid {
                  display: flex;
                  flex-wrap: wrap;
                  box-sizing: border-box;
                  margin-left: -24px;
                  margin-right: -24px;
                  padding-right: 24px;
                  justify-content: space-around;
              }
          input.Form__Input {
            color: #ffffff52;
            border: none;
            border-bottom: 1px solid #ffffff52;
        }
        .proposer-toggle {
          height: 50px;
          width: 256px;
          background-color: #fff;
          font-size: 0;
          margin-bottom: 24px;
          box-shadow: 0 1px 2px #0006 inset;
          border-radius: 25px;
          padding: 2px;
          display: flex;
          justify-content: space-between;
      }
     .proposer-toggle label {
        touch-action: manipulation;
    }

    input[type="radio"] {
      width: 0;
      height: 0;
      visibility: hidden;
  }
        background-color: #122947;
      color: #fff;
  }
    .proposer-toggle span {

      height: 46px;
      border-radius: 23px;
      line-height: 46px;
      display: inline-block;
      width: 120px;
      text-align: center;
      transition: all .2s Cubic-bezier(1,0,.43,1);
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .12em;
      color: #12294780;
      cursor: pointer;
  }
</style>
