<div class="module-engagement-rings module-bands womens">
 
  <div class="collection-header waypoint-active" data-waypoint="sticky">
    <div class="header-placeholder"></div>
    <div class="header-sticky">
       {% for block in section.blocks %}
      <a class="link-nav" href="#collection-round{{ forloop.index }}">{{ block.settings.Roundtetx }}</a>
       {% endfor %}
    </div>
  </div>

  <div class="collection">
    <div class="product-groups">
      {% for block in section.blocks %}
      <div id="collection-round{{ forloop.index }}" class="product-group round waypoint-active" data-waypoint="scrollLink">
        <h4>{{ block.settings.Roundtetx }}</h4>
        <h5>{{ block.settings.Starting }}</h5>
        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="{{ block.settings.alink1 }}">
            <img src="{{ block.settings.proimg1|img_url: 'master' }}">
            <span class="link-primary">{{ block.settings.Gold1 }}</span>
          </a>
          <a class="product yellow-gold with-link-primary" href="{{ block.settings.alink2 }}">
            <img src="{{ block.settings.proimg2 |img_url: 'master'}}">
            <span class="link-primary">{{ block.settings.Gold2 }}</span>
          </a>
         <a class="product yellow-gold with-link-primary" href="{{ block.settings.alink3 }}">
            <img src="{{ block.settings.proimg3|img_url: 'master' }}">
            <span class="link-primary">{{ block.settings.Gold3 }}</span>
          </a>
          <a class="product yellow-gold with-link-primary" href="{{ block.settings.alink4 }}">
            <img src="{{ block.settings.proimg4 |img_url: 'master'}}">
            <span class="link-primary">{{ block.settings.Gold4 }}</span>
          </a>
        </div>
        
      </div>
  {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "teb",
    "settings": [
      
    ],
    "blocks": [
  {
    "type": "teb",
    "name": "teb",
    "settings": [
       {
    "type": "text",
    "id": "Roundtetx",
    "label": "heading",
    "default": "heading"
  }, 
      {
    "type": "text",
    "id": "Starting",
    "label": "Sub-heading",
    "default": "Sub-heading"
  }, 
        {
    "type": "image_picker",
    "id": "proimg1",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  },
      {
    "type": "url",
    "id": "alink1",
    "label": "product url"
  }, 
        {
    "type": "text",
    "id": "Gold1",
    "label": "heading",
    "default": "product titel"
  },
        {
    "type": "image_picker",
    "id": "proimg2",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  },
      {
    "type": "url",
    "id": "alink2",
    "label": "product url"
  }, 
        {
    "type": "text",
    "id": "Gold2",
    "label": "heading",
    "default": "product titel"
  },
        {
    "type": "image_picker",
    "id": "proimg3",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  },
      {
    "type": "url",
    "id": "alink3",
    "label": "product url"
  }, 
        {
    "type": "text",
    "id": "Gold3",
    "label": "heading",
    "default": "product titel"
  },
        {
    "type": "image_picker",
    "id": "proimg4",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  },
      {
    "type": "url",
    "id": "alink4",
    "label": "product url"
  }, 
        {
    "type": "text",
    "id": "Gold4",
    "label": "heading",
    "default": "product titel"
  }
    ]
  }
],
     "presets": [
  {
   "name": "TEB"
  }
]
  }
{% endschema %}

{% stylesheet %}
 .link-primary {
    border-bottom: none;
}
  
  .link-primary {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 2px solid rgba(18,41,71,.12);
    color: #122947;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    letter-spacing: .12em;
}
  .module-engagement-rings .collection-header {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 200;
}
  .module-engagement-rings .collection-header .header-placeholder {
    width: 100%;
    height: 100%;
}
  .module-engagement-rings .collection-header .header-sticky {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 2px 16px #00000005;
    text-align: center;
    font-size: 0;
}
  .module-engagement-rings .collection-header .header-sticky a {
    height: 80px;
    border-bottom: 4px solid transparent;
    line-height: 76px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: 12px;
    color: #12294752;
    display: inline-block;
    padding: 0 24px;
    transition: all .2s Cubic-bezier(1,0,.43,1);
}
  .module-bands .collection-header .header-sticky {
    overflow: hidden;
}
a.link-nav:hover {
    color: #122947 !important;
}
  
  .collection {
    text-align: center;
}
  .module-bands .collection .product-group .product img {
    width: 80%;
    margin: 40px auto;
    display: block;
    max-width: 240px;
}
  .module-bands .collection .product-group {
    width: calc((100% - 24px)*.83333 - 24px);
    margin: 0 auto;
}
  div.product-group {
    width: calc((100% - 24px)*.83333 - 24px);
    margin: 0 auto;
}
  .product-groups h4 {
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
    font-size: 25px;
}
  .product-groups h5 {
    color: #122947cc;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    /* font-family: Brown; */
    margin: 0 0 24px;
    letter-spacing: .12em;
}
  .module-bands .collection .product-group {
    padding: 120px 0;
}
  .module-engagement-rings .collection-header.waypoint-sticky .header-sticky {
    position: fixed;
    top: 80px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}